body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 350px;
    width: 500px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: aliceblue;
}
#time{
    height: 30px;
    margin-top: 60px;
    text-align: center;
    font-size: 70px;
}
.button{
    height: 60px;
    margin-top: 120px;

}
#start{
    height:60px ;
    width: 150px;
    border-radius: 15px;
    margin-right: 40px;
    font-size: 25px;
    background-color: rgb(27, 165, 9);
    color: white;
}
#reset{
    height: 60px;
    width: 150px;
    border-radius: 15px;
    font-size: 25px;
    background-color: rgb(246, 171, 211);
    color: white;
}

